<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>464343137837-s2a8slocoehr0t5p22ofr40h7rocueis.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.464343137837-s2a8slocoehr0t5p22ofr40h7rocueis</string>
        <key>API_KEY</key>
        <string>AIzaSyCgXiSN8SgikcmZfN3w_62POWh-lqfga4c</string>
        <key>GCM_SENDER_ID</key>
        <string>464343137837</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com-blanchard-gs.FirebaseAssignment</string>
        <key>PROJECT_ID</key>
        <string>fir-assignment-9f9e6</string>
        <key>STORAGE_BUCKET</key>
        <string>fir-assignment-9f9e6.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:464343137837:ios:36d0b4b7295294a2</string>
        <key>DATABASE_URL</key>
        <string>https://fir-assignment-9f9e6.firebaseio.com</string>
    </dict>
</plist>
